{% extends "auth/info.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block info_bottom %}
<hr />
<form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.old_password, "horizontal", horizontal_columns=('sm', 4, 4)) }}
    <div class="form-group  required">
        <label class="control-label  col-sm-4" for="verification">手机验证码</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" id="verification" name="verification" required="" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="code" onclick="send_message('change-password', phone_num={{current_user.phone}})">获取验证码</button>
                </span>
            </div>
        </div>
    </div>
    {{ wtf.form_field(form.password, "horizontal", horizontal_columns=('sm', 4, 4)) }}
    {{ wtf.form_field(form.confirm, "horizontal", horizontal_columns=('sm', 4, 4)) }}
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <input class="btn btn-primary btn-block" name="submit" type="submit" value="确认修改">
        </div>
    </div>
</form>
{% endblock %}
