{% extends "auth/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block index_right %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li>
                <a href="{{ url_for('auth.info') }}">个人信息</a>
            </li>
            <li>
                <a href="{{ url_for('auth.change_password') }}">修改密码</a>
            </li>
            <li>
                <a href="#">修改头像</a>
            </li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    {% block info_bottom %}
    <div>
        <p>姓名：{{ current_user.name }}</p>
        <p>身份证号码：{{ current_user.id_card_number }}</p>
        <p>
            <span>现居住地: {{ current_user.addr }}  <a href="#">修改居住地</a></span>
        </p>
        <p>
            <span>手机号码：{{ current_user.phone }}  <a href="#">修改绑定手机</a></span>
        </p>
    </div>
    {% endblock %}
</div>
{% endblock %}
