{% extends "hospital_info.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set hospital = department.hospital %}

{% block hospital_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <h3>{{ department.name }}</h3>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            {% set doctors = department.doctors %}
            {% set schedules = {} %}
            {% set current_weekday = week_date.get("current_weekday") %}
            {% set week_dict = {0:"星期一",1:"星期二",2:"星期三",3:"星期四",4:"星期五",5:"星期六",6:"星期日"} %}

            {% for doctor in doctors %}
                {% for schedule in doctor.schedules %}
                    {% if schedules[schedule.weekday_int] %}
                        {% if schedules[schedule.weekday_int][schedule.time_int] %}
                            {% set old_limit = schedules[schedule.weekday_int][schedule.time_int] %}
                            {% do schedules[schedule.weekday_int].update({schedule.time_int:schedule.limit+old_limit}) %}
                        {% else %}
                            {% do schedules[schedule.weekday_int].update({schedule.time_int:schedule.limit}) %}
                        {% endif %}
                    {% else %}
                        {% do schedules.update({schedule.weekday_int:{schedule.time_int:schedule.limit}}) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        {% for i in range(7) %}
                        <th>
                            {{ week_dict.get( (current_weekday+i) % 7 ) }}
                            <p>{{ week_date.get( (current_weekday+i) % 7 ) }}</p>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>上午</td>
                        {% for i in range(7) %}
                            {% set weekday = (current_weekday+i) % 7 %}
                            {% set times = schedules.get(weekday) %}
                            {% set limit = times.get(0) if times else None%}
                            {% if times and limit %}
                                {% if limit > 0 %}
                                <td class="kyy">
                                    <span>预约</span>
                                    <p>剩余:{{ limit }}</p>
                                    <input class="hidden" name="week_time" value="{{department.id}},{{week_dict.get(weekday)}},上午"></input>
                                </td>
                                {% else %}
                                <td class="ym">
                                    <span>预满</span>
                                </td>
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>下午</td>
                        {% for i in range(7) %}
                        {% set weekday = (current_weekday+i) % 7 %}
                        {% set times = schedules.get(weekday) %}
                        {% set limit = times.get(1) if times else None%}
                        {% if times and limit %}
                            {% if limit > 0 %}
                            <td class="kyy">
                                <span>预约</span>
                                <p>剩余:{{ limit }}</p>
                                <input class="hidden" name="week_time" value="{{department.id}},{{week_dict.get(weekday)}},下午"></input>
                            </td>
                            {% else %}
                            <td class="ym">
                                <span>预满</span>
                            </td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>晚上</td>
                        {% for i in range(7) %}
                        {% set weekday = (current_weekday+i) % 7 %}
                        {% set times = schedules.get(weekday) %}
                        {% set limit = times.get(2) if times else None%}
                        {% if times and limit %}
                            {% if limit > 0 %}
                            <td class="kyy">
                                <span>预约</span>
                                <p>剩余:{{ limit }}</p>
                                <input class="hidden" name="week_time" value="{{department.id}},{{week_dict.get(weekday)}},晚上"></input>
                            </td>
                            {% else %}
                            <td class="ym">
                                <span>预满</span>
                            </td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row doctor">
    </div>
</div>
{% endblock %}
