{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <p><a href="{{ url_for('admin.add_department') }}">添加科室</a></p>
                </div>
                <div class="col-sm-12">
                    <dl>
                        {% for department in departments%}
                        <dt>
                            <p class="bg-info">
                                <span>科室名：{{ department.name }}</span>
                                <span class="text-right">删除</span>
                                <span class="text-right">修改</span>
                                <span class="text-right">查看预约</span>
                            </p>
                        </dt>
                        <dd>
                            <p> {{ department.intro }} </p>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
