{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>医院名</th>
                        <th>地址</th>
                        <th>联系电话</th>
                        <th>简介</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hospital in hospitals%}
                    <tr>
                        <td>{{ hospital.name }}</td>
                        <td>{{ hospital.addr }}</td>
                        <td>{{ hospital.phone }}</td>
                        <td>{{ hospital.intro }}</td>
                        <td class="alter-hospital" id={{hospital.id}}><button class="btn btn-danger btn-block" type="button">修改</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
