{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <dl>
                {% for hospital in hospitals %}
                <dt>
                    <p class="bg-info">
                        <span>医院名：{{ hospital.name }}</span>
                        <span class="text-right">修改</span>
                        <span class="text-right">查看预约</span>
                    </p>
                </dt>
                <dd>
                    <p><span>地址：{{ hospital.addr }}</span></p>
                    <p><span>资讯电话：{{ hospital.phone }}</span></p>
                    <p>{{ hospital.intro }}</p>
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>
{% endblock %}
