{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <dl>
                {% for user in users %}
                <dt>
                    <p class="bg-info">
                        <span>姓名：{{ user.name }}</span>
                        <span class="text-right">删除</span>
                        <span class="text-right">修改</span>
                        <span class="text-right">查看预约</span>
                    </p>
                </dt>
                <dd>
                    <p><span>身份证号码：{{ user.id_card_number }}</span></p>
                    <p><span>现居住地: {{ user.addr }}</span></p>
                    <p><span>手机号码：{{ user.phone }}</span></p>
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>
{% endblock %}
