{% extends "bootstrap/base.html" %}

{% block title %}云挂号{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/heighten.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">云挂号平台</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('auth.order') }}">预约挂号</a></li>
        <li><a href="#">疾病百科</a></li>
        <li><a href="#">最新公告</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group required">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="请输入搜索内容">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a>欢迎您,{{ current_user.name }}</a></li>
          <li><a href="{{ url_for('auth.index')}}">个人中心</a></li>
          <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.login') }}">登录</a></li>
          <li><a href="{{ url_for('auth.register') }}">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/distpicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sms.js') }}"></script>
{% endblock %}
