<div class="col-sm-8 col-sm-offset-2">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>医生名</th>
                <th>医生级别</th>
                <th>剩余号</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules%}
            <tr>
                <td>{{ schedule.doctor.name }}</td>
                <td>{{ schedule.doctor.rank }}</td>
                <td>{{ schedule.limit }}</td>
                <td>
                    <a href="{{ url_for('auth.order_confirm', schedule_id=schedule.id) }}">预约挂号</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
