{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" data-ride="carousel" id="carousel-message">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-message">
					</li>
					<li data-slide-to="1" data-target="#carousel-message" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-message">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<a href="#" target="_blank"><img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/1/default.jpg" /></a>
					</div>
					<div class="item active">
						<a href="#" target="_blank"><img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/2/default.jpg" /></a>
					</div>
					<div class="item">
						<a href="#" target="_blank"><img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/3/default.jpg" /></a>
					</div>
				</div>
                <a class="left carousel-control" href="#carousel-message" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-message" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
			</div>
		</div>
	</div>
	<div class="row clearfix" id="order">
		<div class="col-md-4">
			<ul class="nav nav-stacked nav-pills">
				<li class="active">
					 <span>按医院挂号</span>
				</li>
				{% for hospital in hospitals %}
				<li>
					<p>
					 	<a href="#">{{ hospital.name }}</a>
				 	</p>
					<div class="col-sm-12">
						<p>咨询电话：{{ hospital.phone }}</p>
						<p>医院地址：{{ hospital.addr }}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked">
				<li class="active">
					 <span>按科室挂号</span>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-stacked nav-pills">
				<li class="active">
					 <span>按疾病挂号</span>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
